<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure-Upload</title>
    <!-- <link rel="stylesheet" href="style2.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Quattrocento+Sans&family=Space+Mono&display=swap" rel="stylesheet">    
    <title>Secure-Upload</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        @import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Quattrocento+Sans&family=Space+Mono&display=swap');

        .container{
            background-color: #020c1b;
            color: #e6f1ff;
            margin: 50px auto;
            width: 80%;
            padding: 40px;
            border-radius: 10px;
        }
        .instruction{
            font-family: 'Space Mono', monospace;
            color: #64ffda;
            font-size: 14pt;
            font-weight: 400;
        }
        .file{
            color: #e6f1ff;
        }
        .back{
            color: #e6f1ff;
            text-decoration: none;
            font-family: 'Space Mono', monospace;
            font-size: 14pt;
            font-weight: 400;
            margin-bottom: 20px;
        }
        .back:hover{
            text-decoration: underline #64ffda;
        }
        .error{
            font-family: 'Space Mono', monospace;
            font-size: 14pt;
            font-weight: 400;
        }
        #form{
            color: #64ffda;
            font-family: 'Space Mono', monospace;
            font-size: 14pt;
            margin: 30px auto;
            max-width: 50%;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 10px;
        }
        #form input[type="password"], #form input[type="file"]{
            font-family: 'Space Mono', monospace;
            font-size: 12pt;
            padding: 5px;
        }
        #form input[type="submit"]{
            grid-column: span 2;
            outline: none;
            background-color: #64ffda;
            color: #020c1b;
            font-family: 'Space Mono', monospace;
            font-size: 14pt;
            font-weight: bolder;
            padding: 5px;
            cursor: pointer;
            box-shadow: 10px 5px #e6f1ff;
        }
        #form input[type="submit"]:hover{
            box-shadow: 10px 10px #e6f1ff;
        }
        .link-container{
            text-align: center;
            margin: 20px 0;
        }
        .link-container p{
            font-family: 'Space Mono', monospace;
            color: #64ffda;
            font-size: 16pt;
        }
        .link-container a{
            font-family: 'Space Mono', monospace;
            color: #e6f1ff;
            font-size: 14pt;
        }
        .footer{
            text-align: center;
            font-family: 'Space Mono', monospace;
            color: #64ffda;
            margin-top: 10px;
        }

        @media (max-width: 768px) {
            body{
                background-color: #020c1b;
            }
            #form{
                font-size: 14pt;
                max-width: 100%;
                display: grid;
                grid-template-columns: auto 1fr;
                grid-gap: 10px;
            }    
            .link-container a{
                max-width: 80%;
            }
            
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/" class="back">&leftarrow; Back to HomePage</a>
        <p class="instruction"> This file is protected with a password. Kindly provide the password:</p>

        <% if(locals.error){ %> 
            <p style="color: red;" class="error">Incorrect Password</p>
        <% } %> 
        <form method="post" id="form">
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Download">
        </form> 
        <hr>
        <p class="footer">&copy;codeHokage 2022</p>

    </div>
    
</body>
</html>